.admin-top-songs {
  padding: 20px;
  color: #111;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-save-hot-songs {
  padding: 10px 20px;
  background: #293ccc;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-save:hover {
  background: #333;
}

.top-songs-table {
  width: 100%;
  border-collapse: collapse;
  background: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.top-songs-table th {
  background: #293ccc;
  color: #fff;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
}

.top-songs-table td {
  padding: 12px;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
  color: #222;
}

.top-songs-table tr:hover td {
  background: #f0f0f0;
}

.cover-img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 18px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover {
  background: #ccc;
}

.pagination button.active {
  background: #000;
  color: white;
  font-weight: bold;
}
.search-input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #201f1f;
  width: 250px;
  font-size: 14px;
  margin-right: 10px;
}
.filter-select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  background: white;
  margin-right: 10px;
  font-size: 14px;
}